<header>
  <div class="top-bar">
    <div class="container">
      <div class="language-selector">
        <button>Français (changer)</button>
      </div>
    </div>
  </div>

  <nav>
    <div class="container">
      <div class="logo">
        <a routerLink="/">
          <img src="../../../assets/img/accueil/logoMSL.png" />
        </a>
      </div>

      <!-- Menu Burger pour Mobile -->
      <div class="burger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- Navigation Links et Actions combinés pour Mobile -->
      <div [ngClass]="{ 'active': isMenuOpen }" class="nav-wrapper">
        <ul class="nav-links">
          <li><a routerLink="/accueil" routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
          <li class="dropdown" [ngClass]="{ 'open': isDropdownOpen }">
            <a (click)="toggleDropdown()" class="dropdown-toggle">
              Vos besoins <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" *ngIf="isDropdownOpen || !isMobile">
              <li><a routerLink="/serviceOdoo" routerLinkActive="actived">Application Odoo</a></li>
              <li><a routerLink="/service2" routerLinkActive="actived">Finances</a></li>
              <li><a routerLink="/service3" routerLinkActive="actived">Ventes</a></li>
              <li><a routerLink="#" routerLinkActive="actived">Fabrications</a></li>
              <li><a routerLink="#" routerLinkActive="actived">Site Internet</a></li>
              <li><a routerLink="#" routerLinkActive="actived">Services</a></li>
            </ul>
          </li>
          
          <li><a routerLink="/package-metier" routerLinkActive="actived">Package Métier</a></li>
          <li><a routerLink="/about" routerLinkActive="actived">À propos</a></li>
        </ul>

        <!-- Actions de Connexion et Contact -->
        <div class="actions">
          <a routerLink="/login" routerLinkActive="actived" class="connexion">Connexion</a>
          <a routerLink="/contact" class="btn">Contactez-nous</a>
        </div>
      </div>
    </div>
  </nav>
</header>
